<footer class="footer mt-auto bg-dark">
  <div class="container text-center">
    <span class="text-muted"
      >Created by Eloise Salmon during Colt Steele's Web Developer
      Bootcamp</span
    >
  </div>
</footer>
