<% layout('layouts/boilerplate') %>
<h1>All Campsites</h1>
<a href="/campsites/new">Add a new campsite</a>
<ul>
  <% for(let campsite of campsites) {%>
  <li>
    <%= campsite.title %> in <%= campsite.location %>
    <a href="/campsites/details/<%=campsite.id%>">details</a>
  </li>
  <% } %>
</ul>
