<% layout('layouts/boilerplate') %>
<h1>Add a new campsite</h1>
<form action="/campsites" method="POST">
  <label for="title">Name of campsite</label>
  <input type="text" name="campsite[title]" id="title" placeholder="title" />
  <label for="location">Location of campsite</label>
  <input
    type="text"
    name="campsite[location]"
    id="location"
    placeholder="location"
  />
  <button>Submit</button>
</form>
<a href="/campsites">View all campsites</a>
