<% layout('layouts/boilerplate') %>

<div class="container my-5 d-flex justify-content-center align-items-center">
  <div class="col-md-6 offest-md-3">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Log in</h2>
        <div class="card-text">
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="row justify-content-evenly">
              <button class="btn btn-success col-11 col-md-4">Submit</button>
              <a
                class="btn btn-outline-secondary mt-2 mt-md-0 col-11 col-md-7"
                href="/register"
                >Register as a new user</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
