<% layout('layouts/boilerplate') %>
<div class="container my-5 d-flex justify-content-center align-items-center">
  <div class="col-sm-6 offest-sm-3">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Register</h2>
        <div class="card-text">
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Your username must be at least 5 characters long and contain no
                spaces!
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Please type a valid email address.
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Your password must be at least 5 characters long and contain no
                spaces!
              </div>
            </div>
            <div class="row justify-content-evenly">
              <button class="btn btn-success col-11 col-md-4">Submit</button>
              <a
                class="btn btn-outline-secondary mt-2 mt-md-0 col-11 col-md-7"
                href="/login"
                >Log in to my account</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
